body {
  font-family: theme("fontFamily.body");
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: theme("colors.gray.900");
  letter-spacing: theme("letterSpacing.wide");
  padding: calc(0.5rem + 1vmin);
}

*:focus {
  outline: 0.25rem solid theme("colors.blue.200");
}

button:not([disabled]):focus,
button:not([disabled]):hover,
input:not([disabled]):focus,
input:not([disabled]):hover {
  outline: none;
  box-shadow: 0 0 0 3px theme("colors.blue.200");
}
